.philosophy{
    margin: 0 auto;
    max-width: 1440px;
    background-color: var(--philosophy-bg-color);
}
.philosophy_blocks {
    position: relative;
    max-width: 1440px;
    width: 100%;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.philosophy_block1 {
    margin-left: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    max-width: 576px;
    width: 100%;
    gap: 24px;
    text-align: left;
    
        a{
            margin-top: auto;
            color: var(--dark-purpure);
            border-bottom: 1px solid var(--light-gray);
            align-self: flex-start;
            padding: 4px 0;
        }
}

.philosophy_block2 {
    display: flex;
    flex-basis: 50%;
    max-width: 600px;
    width: 100%;
        img{
           max-width: 600px;
           width: 100%;
        }
}
.ball__planshet{
    display: none;
}

@media(max-width:768px){
    .ball{
        display: none;
    }
    .ball__planshet{
        display: block;
    }
}
@media(max-width: 400px){

        .philosophy_blocks{
        flex-direction: column; 
    }
    .philosophy_block1{
        margin: 0;
    }
}

