.skillset{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-color);
    color: #fff;
    padding-top: 120px;
}

.container{
    max-width: 1294px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.skillset__wrap{
    position: relative;
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-columns: 368px 2fr;
    gap: 72px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.skillset_right-blocks {
    position: relative;
    display: flex;
        h3{
            gap: 11px;
        }
}



.title{
    opacity: 0;
    transition: opacity 1s ease-in-out !important;
    h2{
        margin-bottom: 24px;
    }
    p{
        font-size: 16px;
            color: var(--light-gray);
            margin-bottom: 48px;
            max-width: 368px;
           
    }
}

.block{
    display: flex;
    flex-direction: column;
    gap: 11px;
    p{
        font-size: 16px;
        color: var(--light-gray);
        margin-bottom: 48px;
        max-width: 368px;
    }
    img{
        margin-bottom: 13px;
        width: 32px
    }
}
.skillset_block1,
.skillset_block2,
.skillset_block3,
.skillset_block4{
    opacity: 0;
}



.skillset_footer-wrap ul{
    display: flex;
    justify-content: space-between;
    margin: 0 51px;
    li{       
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 340px;
                width: 100%;
                // height: clamp(40px, 10svh, 140px);
                border: 1px solid var(--dark-purpure);
            }
}

.appearFromRightText{
    opacity: 0 ;
    transition: all 2s ease-in;
}

.skillsetShow{
    opacity: 1;
    transition: 1s ease-in;
}

@media(max-width: 1200px){
    .skillset_right-blocks {
        display: flex;
        flex-direction: column;
    }
    .skillset__wrap{
        padding: 0 20px;
    }
}

@media(max-width: 768px){
    .skillset__wrap{
        display: grid;
        grid-template-columns: repeat(2 fr);
    }
    .title{
        grid-column: span 2;
        max-width: 688px;
            p{
                max-width: 688px;
                margin-bottom: 0;
                
            }
    }
}

@media(max-width: 642px){
    .skillset__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.show{
    opacity: 1;
    transform: translate(0);
} 